<br/>
<%= link_to 'Back', "/sessions/new" , class: "btn btn-default" %>
<h1>Welcome to the Fast Foods Homepage</h1>
<p>
    <%= link_to 'Administrative', "/admin/index" , class: "btn btn-primary btn-lg" %>
    <%= link_to 'Report', "/report/index" , class: "btn btn-primary btn-lg" %>
    <%= link_to 'Back to front page', "/front_page/index" , class: "btn btn-primary btn-lg" %>
</P>