<h1>User/Manager</h1>
<table>
<tr>
<td><a href="#" class="btn btn-success">Create Person</a></td><td><a href="#" class="btn btn-success">Create Phone</a></td><td><a href="#" class="btn btn-success">Create Email</a></td><td><a href="#" class="btn btn-success">Create Invoice</a></td><td><a href="#" class="btn btn-success">Create Invoice has Product</a></td><td><a href="#" class="btn btn-success">Create Customer</a></td>
</tr>
<tr>
<td><a href="#" class="btn btn-primary">Edit Person</a></td><td><a href="#" class="btn btn-primary">Edit Phone</a></td><td><a href="#" class="btn btn-primary">Edit Email</a></td>
</tr>
<tr>
<td><a href="#" class="btn btn-info">Read Person</a></td><td<a href="#" class="btn btn-info">Read Invoices</a></td><ytd><a href="#" class="btn btn-info">Read Product</a></td>
</tr>
</table>