</br>
<%= link_to 'Back', "/user/adminIndex" , class: "btn btn-default" %>
<p id="notice"><%= notice %></p>

<h1>Invoice Has Products</h1>



<br>

<%= link_to 'New Invoice Has Product', new_invoice_has_product_path %>
