<html>
<body class = "burger">
<h3>Fast Food!</h3>
<p>

<table>
<tr>
<td><h1>Enjoy!</h1></td><td><h1>Eat!</h1></td><td><h1>Drink!</h1></td><td><h1>Satisfy!</h1></td>
</tr>
<tr>
<td><%= image_tag("burger.jpeg", :alt => "burger") %></td><td><%= image_tag("burger2.jpeg", :alt => "burger2") %></td><td><%= image_tag("burger3.jpeg", :alt => "burger3") %></td><td><%= image_tag("burger4.jpeg", :alt => "burger4") %></td>
</tr>
</table>
</p>
</body>


