<html>
<body background="fastfoodbackground2.png">
<h3>Fast Food!</h3>
<p>
<table>
<tr>
<td><h1>Enjoy!</h1></td><td><h1>Eat!</h1></td><td><h1>Drink!</h1></td><td><h1>Satisfy!</h1></td>
</tr>
<tr>
<td><img src="burger.jpg" alt="Burger" ></td><td><img src="burger2.jpg" alt="Burger2"></td><td><img src="burger3.jpg" alt="Burger3"></td><td><img src="burger4.jpg" alt="Burger4"></td>
</tr>
</table>
</p>
</body>


